<div ng-controller="homeCtrl">
    <div id="header" class="container-fluid">
        <div class="row">
            <div id="inner-header">
                <div class="col-md-12">
                    <h1 align="center" class="animated rollIn">MAKE YOUR BEST CHOICE FOR YOUR PROJECT</h1>
                    <h2 align="center" class="animated bounceInUp" style="color:#ffffff">
                        HERE YOU CAN ORDER YOUR <br>
                        <b>WEB</b> OR <b>MOBILE</b> APPLICATION
                    </h2>

                </div>
                <div class="col-md-12 " style="margin-top:40px;">
                    <a href="#order/general" class="btn btn-transparent animated flip">Tell us about your Project</a>
                </div>

            </div>
        </div>
    </div>
    <!-- Services
    ============================================= -->
    <section id="services">
        <div class="container">
            <h2>What We Do</h2>
            <hr class="light-sep">
            <p>We Can Do Crazy Things</p>
            <div class="services-box">
                <div class="row wow fadeInUp" data-wow-delay=".3s">
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-global"></span></div>
                        <div class="media-body">
                            <h3>Restful Web Services</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-browser"></span></div>
                        <div class="media-body">
                            <h3>Web Development</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-mobile"></span></div>
                        <div class="media-body">
                            <h3>Mobile Development</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <div id="works" class="clearfix grid">
        <h2 style="color:#000000;margin-top:50px;">Our Works</h2>
        <hr class="sep">

        <figure class="effect-oscar  wowload fadeIn">
            <img src="img/portfolio/csc.png" alt="img01" class="portfolioImage" />
            <figcaption>
                <h2>CSC</h2>
                <p>

                    <a href="http://cscservice.azurewebsites.net/" title="1">View</a>
                </p>
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="img/portfolio/kasting.png" alt="img01" class="portfolioImage" />
            <figcaption>
                <h2>Kasting Studio</h2>
                <p>

                    <a href="http://kastingstudio.com/" title="1">View</a>
                </p>
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="img/portfolio/mapwork.png" alt="img01" class="portfolioImage" />
            <figcaption>
                <h2>Mapwork</h2>
                <p>

                    <a href="http://mapwork.me/" title="1">View</a>
                </p>
            </figcaption>
        </figure>





    </div>
    <section id="team">
        <div class="container">
            <h2>Our Team</h2>
            <hr class="sep">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4 col-sm-4">
                    <div class="team">
                        <img class="teamImg" src="img/team/hayk.jpg" alt="2">
                        <h4>Hayk Harutyunyan</h4>
                        <p>Web&Mobile Developer</p>
                        <div class="team-social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team">
                        <img class="teamImg" src="img/team/vache.jpg" alt="2">
                        <h4>Vache Aslanyan</h4>
                        <p>Web Developer</p>
                        <div class="team-social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team">
                        <img class="teamImg" src="img/team/garik.jpg" alt="3">
                        <h4>Garegin Hambardzumyan</h4>
                        <p>Web Developer</p>
                        <div class="team-social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Testimonials
    ============================================= -->
    <section id="testimonials">
        <div class="container">
            <h2>Testimonials</h2>
            <hr class="light-sep">
            <p>What Clients Say About Us</p>
            <div id="owl-testi" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="quote">
                        <i class="fa fa-quote-left left fa-2x"></i>
                        <h5>
                            I’am amazed, I should say thank you so much for your awesome template. Design is so
                            good and neat, every detail has been taken care these team are realy amazing and talented! I will
                            work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                        </h5>

                    </div>
                </div>
                <div class="item">
                    <div class="quote">
                        <i class="fa fa-quote-left left fa-2x"></i>
                        <h5>
                            I’am amazed, I should say thank you so much for your awesome template. Design is so
                            good and neat, every detail has been taken care these team are realy amazing and talented! I will
                            work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                        </h5>

                    </div>
                </div>
                <div class="item">
                    <div class="quote">
                        <i class="fa fa-quote-left left fa-2x"></i>
                        <h5>
                            I’am amazed, I should say thank you so much for your awesome template. Design is so
                            good and neat, every detail has been taken care these team are realy amazing and talented! I will
                            work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us
    ============================================= -->
    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <hr class="sep">
            <p>Get In Touch</p>
            <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
                <form name="contactForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contact.name.$pristine }">
                        <input type="text" class="form-control" id="Name" placeholder="Name" name="name" ng-model="name" required>
                        <span style="color:red" ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
                            <span ng-show="contactForm.name.$error.required">Name  is required.</span>
                  
                        </span>
                     </div>
                    <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                        <input type="email" class="form-control" id="Email" placeholder="Email" name="email" ng-model="email" required>
                        <span style="color:red" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                            <span ng-show="contactForm.email.$error.required">Email  is required.</span>
                            <span ng-show="contactForm.email.$error.number">Invalid Email address </span>
                        </span>
                    </div> 
                    <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                        <textarea class="form-control" rows="3" placeholder="Message" name="message" ng-model="message" required></textarea>
                        <span style="color:red" ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
                            <span ng-show="contactForm.message.$error.required">message n is required.</span>
            
                        </span>
                    </div>
                    <button ng-click="contactSend()" ng-disabled="generalForm.$invalid"  class="btn-block">Send</button>
                </form>
            </div>
        </div>
    </section>
</div>

